<form [formGroup]="cocktailForm" (ngSubmit)="submit()">
  <div class="form-control flex-display flex-column">
    <label>Name</label>
    <input formControlName="name" type="text" />
  </div>
  <div class="form-control flex-display flex-column">
    <label>Image link</label>
    <input formControlName="img" type="text" />
  </div>
  <div class="form-control flex-display flex-column">
    <label>Description</label>
    <input formControlName="description" type="text" />
  </div>
  <hr />
  <button
    class="btn btn-primary mb-20"
    type="button"
    (click)="addIngredientForm()"
  >
    Add an ingredient
  </button>
  <div formArrayName="ingredients">
    <div
      [formGroupName]="index"
      class="form-group"
      *ngFor="let ingredientForm of ingredients.controls; let index = index"
    >
      <div class="form-control flex-display flex-column">
        <label>Ingredient Name</label>
        <input formControlName="name" type="text" />
      </div>
      <div class="form-control flex-display flex-column">
        <label>Ingredient quantity</label>
        <input formControlName="quantity" type="number" />
      </div>
    </div>
  </div>
  <hr />
  <div class="flex-display flex-row flex-justify-content-between">
    <button class="btn btn-primary" [disabled]="cocktailForm.invalid">
      Submit
    </button>
    <button class="btn btn-accent" type="button" routerLink="..">Cancel</button>
  </div>
</form>
