<div *ngIf="cocktail" class="flex-display flex-column">
  <img class="mb-20" [src]="cocktail.img" [alt]="cocktail.name + ' picture'" />
  <h3 class="mb-20">{{ cocktail.name }}</h3>
  <p class="mb-20">{{ cocktail.description }}</p>
  <ul class="list-primary mb-20">
    <li *ngFor="let ingredient of cocktail.ingredients" class="flex-display">
      <span class="flex-fill">{{ ingredient.name }}</span>
      <span class="badge">{{ ingredient.quantity }}</span>
    </li>
  </ul>
  <div class="flex-display flex-row flex-justify-content-between">
    <button class="btn btn-primary" routerLink="edit">Edit the cocktail</button>
    <button class="btn btn-primary" (click)="addToCart()">Add to cart</button>
  </div>
</div>
