/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Roboto", sans-serif;
  --primary: #4834d4;
  --secondary: #686de0;
  --accent: #d35400;
  --lightgray: #ddd;
  --text-regular: #444;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: var(--font-family);
  color: var(--text-regular);
}

//Theme of the APP
.list-primary {
  li {
    border: 1px solid var(--lightgray);
    padding: 10px 20px;
    border-top: 0;
  }
  li:first-child {
    border-top: 1px solid var(--lightgray);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  li:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.list-primary-action {
  li {
    &:hover {
      background-color: var(--primary);
      color: white;
      cursor: pointer;
    }
    transition: background-color 0.4s;
  }
}

.badge {
  background-color: var(--secondary);
  color: white;
  font-size: 0.95em;
  font-weight: 500;
  border-radius: 10px;
  padding: 3px 5px;
  min-width: 30px;
  text-align: center;
}

button:disabled {
  opacity: 0.4;
  &:hover {
    cursor: not-allowed;
  }
}

.btn {
  background-color: white;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.005em;
  &-primary {
    background-color: var(--primary);
    color: white;
    &:hover {
      cursor: pointer;
      background-color: var(--secondary);
    }
    transition: background-color 0.4s;
  }
  &-accent {
    background-color: var(--accent);
    color: white;
    &:hover {
      cursor: pointer;
      background-color: var(--secondary);
    }
  }
}

.active {
  background-color: var(--secondary);
  color: white;
}

input {
  border: 1px solid var(--lightgray);
  border-radius: 5px;
  padding: 10px 20px;
}

hr {
  border: 1px solid var(--lightgray);
  margin: 20px 0;
}

// Util CSS Rules for layout as Bootstrap mode

.container {
  max-width: 1200px;
  display: block;
  margin: auto;
  padding: 20px;
}

.flex-display {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-between {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-items-between {
  align-items: space-between;
}

.flex-fill {
  flex: 1 1 auto;
}

.flex-50 {
  flex: 1 1 50%;
}

// Util CSS Rules as Bootstrap mode

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

// For debugging

.d1 {
  border: 1px solid red;
}

.d2 {
  border: 1px solid green;
}
